<div class="col-md-12">
  <%= simple_form_for(@group, url: group_path(@group), method: :patch) do |f| %>
    <%= f.input(:title) %>
    <%= f.input(:description) %>

    <%= f.submit("Submit", disable_with: "Submitting...", class: "btn btn-primary") %>
  <% end %>
</div>
